global !p

from scopes import math

endglobal

context "math()"
snippet ceil "\lceil x \rceli" iA
\lceil $1 \rceil$0
endsnippet

context "math()"
snippet floor "\lfloor x \rceli" iA
\lfloor $1 \rfloor$0
endsnippet
